<div 
  class="topbar-container" 
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Top up mobile phone'; goBackToState = 'walletHome';">
</div>


<div class="content bitrefill" ng-controller="bitrefillController as bitrefill">
    <div class="bitrefill--logo">
      <img src="img/bitrefill-logo.png" width="200">
    </div>
    
    <div class="onGoingProcess" ng-show="loading">
      <div class="onGoingProcess-content" ng-style="{'background-color':index.backgroundColor}">
        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
        {{ loading|translate }}...
      </div>
    </div>
    
    <div class="box-notification m20t" ng-show="error" ng-click="resetError()">
      <span class="text-warning">
        {{ error|translate }}
      </span>
    </div>


    <form name="orderForm">
    
    <div class="large-12 columns m20t" >
      <div>
        <div class="row collapse">
          <label for="phone" class="left" >
            <span translate>Phone number to refill</span>
          </label>
          <span ng-hide="orderForm.phone.$pristine">
            <span class="has-error right size-12" ng-show="orderForm.phone.$invalid">
              <i class="icon-close-circle size-14"></i>
              <span class="vm" translate>Not valid</span>
            </span>
            <small class="right text-primary" ng-show="!orderForm.phone.$invalid">
              <i class="icon-checkmark-circle size-14"></i>
            </small>
          </span>
        </div>

        <div class="input">
          <input class="m0" type="text" id="phone" name="phone"
               minLength="4" ng-model="phone" default-country="auto" required
               ng-disabled="selectedOp"
               skip-util-script-download international-phone-number>
        </div>
      </div>
      
      <div class="m20t" ng-hide="selectedOp">
        <button class="button black round expand" ng-click="lookupNumber()"
          ng-disabled="loading || !phone" translate>
          Continue
        </button>
      </div>
      
      <div ng-show="selectedOp" class="m10t">
          <div class="row collapse">
            <label for="operator" class="left" >
              <span translate>Operator</span>
            </label>
          </div>
          <div class="bitrefill--selectedOp" ng-click="openOperatorsModal(operators, selectedOp)">
            <div class="right text-gray">
              <i class="icon-arrow-right3 size-24"></i>
            </div>
            <div class="bitrefill--operator-item">
              <img src="{{ selectedOp.logoImage }}"/>
              <span class="bitrefill--operator-name">{{ selectedOp.name }}</span>
            </div>
          </div>
      </div>
      
      <div ng-show="selectedOp && !selectedOp.isRanged" class="m10t">
          <label><span translate>Amount</span>
            <select class="m10t" ng-model="package"
              ng-options="package as package.valueStr for package in packages"
              ng-change="selectPackage()" required>
              <option value="">Select package...</option>
            </select>
          </label>
          <div ng-show="package" class="">{{ package.btcValueStr }}</div>
      </div>
      
      <div ng-show="selectedOp && selectedOp.isRanged" class="m10t">
        <div class="row collapse">
          <label for="amount" class="left" >
            <span translate>Amount</span>
            <small translate>From {{selectedOp.range.min}} to {{selectedOp.range.max}} {{selectedOp.currency}}</small>
          </label>
          <span ng-hide="orderForm.amount.$pristine">
            <span class="has-error right size-12" ng-show="orderForm.amount.$invalid">
              <i class="icon-close-circle size-14"></i>
              <span class="vm" translate>Not valid</span>
            </span>
            <small class="right text-primary" ng-show="!orderForm.amount.$invalid">
              <i class="icon-checkmark-circle size-14"></i>
            </small>
          </span>
        </div>
        <div class="input">
          <input class="m0" type="number" id="amount"
                 ng-attr-placeholder="{{'Amount in'}} {{selectedOp.currency}}"
                 min="{{selectedOp.range.min}}"
                 max="{{selectedOp.range.max}}"
                 step="{{selectedOp.range.step}}"
                 name="amount" ng-model="amount" required>
        </div>
      </div>
      
      <div ng-show="selectedOp" class="m10t">
        <div class="row collapse">
          <label for="email" class="left" >
            <span translate>Email</span>
            <small translate>Receipt will be sent to this email</small>
          </label>
          <span ng-show="orderForm.email.$dirty">
            <span class="has-error right size-12" ng-show="orderForm.email.$invalid">
              <i class="icon-close-circle size-14"></i>
              <span class="vm" translate>Not valid</span>
            </span>
            <small class="right text-primary" ng-show="!orderForm.email.$invalid">
              <i class="icon-checkmark-circle size-14"></i>
            </small>
          </span>
        </div>
        <div class="input">
          <input class="m0" type="email" id="email" ng-attr-placeholder="{{'Email address'}}"
                 name="email" ng-model="email" required>
        </div>
      </div>
      
      <div class="columns" ng-show="selectedOp">
        <button class="button black round expand" ng-disabled="!isValid() || loading" 
                ng-click="placeOrder()" translate>
          Place order
        </button>
      </div>
    </form>

    </div>

</div> <!--/content-->
