
<div>
  <div class="bitrefill--confirm-logo text-center small-centered columns m20t" ng-style="{'color':color, 'border-color':color}">
    <img ng-src="{{order.operator.logoImage}}">
  </div>
  
  <div class="text-center size-18 text-bold p20" ng-style="{'color':color}">
    Your order
  </div>
  
  <div class="size-16 text-gray columns" translate>
    <label translate>Refill ordered:</label>
    <div>
        {{ order.operator.name }} {{ order.amount }} {{ order.currency }}
    </div>
  </div>
  <div class="size-16 text-gray columns m10t" translate>
    <label translate>Phone number:</label>
    <div>
        {{ order.phone }}
    </div>
  </div>
  <div class="size-16 text-gray columns m10t" translate>
    <label translate>Price:</label>
    <div>
        {{ order.btcValueStr }}
    </div>
  </div>
  <div class="size-16 text-gray columns m10t" translate>
    <label translate>Order ID:</label>
    <div>
        {{ order.orderId }}
    </div>
  </div>
  <div class="size-16 text-gray columns m10t" translate>
    <label translate>Email:</label>
    <div>
        {{ order.email }}
    </div>
  </div>

  <div class="text-center columns m20t">
    <a class="button outline round light-gray tiny small-4" ng-click="cancel()">cancel</a>
    <a class="button round light-gray tiny small-4" ng-click="confirmAndPay()">Pay</a>
  </div>
</div>