
<div ng-if="type == 'broadcasted'" class="popup-txsent text-center">
  <i class="small-centered columns m20tp" 
    ng-class="{
      'fi-clock': !orderStatus || orderStatus.paid || orderStatus.confirmed,
      'fi-check': orderStatus.delivered,
      'fi-thumbnails': orderStatus.data.pinInfo,
      'fi-x': orderStatus.failed || orderStatus.partial
      }"
    ng-style="{'color':color, 'border-color':color}"></i>
  <div ng-show="!orderStatus || orderStatus.paid || orderStatus.confirmed" class="m20t size-24 text-white">
    Waiting for order to complete..
  </div>
  <div ng-show="orderStatus.data.pinInfo" class="m20t size-24 text-white">
    PIN required
  </div>
  
  <div ng-show="orderStatus.delivered && !orderStatus.data.pinInfo" class="m20t size-24 text-white">
    Delivered
  </div>
  <div ng-show="orderStatus.failed || orderStatus.partial" class="m20t size-24 text-white">
    Failed
  </div>
  
  <div class="size-16 text-gray" ng-show="orderStatus.data.pinInfo">
    <div class="m10t" translate>{{ orderStatus.data.pinInfo.instructions }}</div>
    <div class="m10t"><span translate>Your PIN code</span>:</div>
    <div class="bitrefill--pin-code" translate>{{ orderStatus.data.pinInfo.pin }}</div>
    <small translate>{{ orderStatus.data.pinInfo.other}}</small>
  </div>
  
  <div class="size-16 text-gray" ng-show="orderStatus.delivered && !orderStatus.data.pinInfo" translate>
    {{ tx.message }}
  </div>

  <div class="size-16 text-gray" ng-show="orderStatus.failed || orderStatus.partial" translate>
    {{ orderStatus.msg || 'Failed to process order' }}
  </div>

  <div class="size-16 text-gray" ng-show="!orderStatus || orderStatus.paid || orderStatus.confirmed">
    <div translate>Payment sent</div>
    <div translate>{{ tx.message }}</div>
  </div>
  
  <div class="text-center m20t">
    <a class="button outline round light-gray tiny small-4" ng-click="cancel()">OKAY</a>
  </div>
</div>


<div ng-if="type == 'created'" class="popup-txsigned">
  <i class="small-centered columns fi-check m30tp" ng-style="{'color':color, 'border-color':color}"></i>
  <div class="text-center size-18 tu text-bold p20" ng-style="{'color':color}">
    <span translate>Payment Proposal Created</span>
  </div>
  <div class="text-center">
    <a class="button outline round light-gray tiny small-4" ng-click="cancel()">OKAY</a>
  </div>
</div>



<div ng-if="type == 'accepted'" class="popup-txsigned">
  <i class="small-centered columns fi-check m30tp" ng-style="{'color':color, 'border-color':color}"></i>
  <div class="text-center size-18 text-primary tu text-bold p20" ng-style="{'color':color}">
    <span translate>Payment Accepted</span>
  </div>
  <div class="text-center">
    <a class="button outline round light-gray tiny small-4" ng-click="cancel()">OKAY</a>
  </div>
</div>

<div ng-if="type=='rejected'" class="popup-txrejected">
  <i class="fi-x small-centered columns m30tp" ng-style="{'color':color, 'border-color':color}"></i>
  <div class="text-center size-18 tu text-bold p20" ng-style="{'color':color}">
    <span translate>Payment Rejected</span>
  </div>
  <div class="text-center">
    <a class="button outline light-gray round tiny small-4" ng-click="cancel()">OKAY</a>
  </div>
</div>
